@model MsSQLAdmin.Models.TableViewModel

<div class="table-responsive" id="data">
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var column in Model.TableColumns) {
                    <th>
                        @Html.Raw(column.Name)
                    </th>
                }
            </tr>
        </thead>
        @if (Model.TableData != null && Model.TableData.Count() > 0) {
            <tbody>
                @foreach (var row in Model.TableData) {
                    <tr>
                        @foreach (var column in Model.TableColumns) {
                            <td>
                                @Html.Raw(row[column.Name])
                            </td>
                        }
                    </tr>
                }
            </tbody>
        }
    </table>
</div>