@model MsSQLAdmin.Models.TableViewModel
@{
    ViewData["Title"] = "Table";
}
<h2>Table</h2>
<div>    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#Structure" aria-controls="Structure" role="tab" data-toggle="tab">Structure</a></li>
        <li role="presentation"><a href="#Data" aria-controls="Data" role="tab" data-toggle="tab">Data</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Structure">
            @await Html.PartialAsync("_Structure", Model.TableColumns)
        </div>
        <div role="tabpanel" class="tab-pane" id="Data">
            @await Html.PartialAsync("_Data", Model)
        </div>
    </div>
</div>