<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Serveur de base de données</h3>
    </div>
    <div class="panel-body">
        Serveur : View
        Type de serveur : MySQL
        Version du serveur : 5.7.14 - MySQL Community Server (GPL)
        Version du protocole : 10
        Utilisateur : root@localhost
        Jeu de caractères du serveur : UTF-8 Unicode (utf8)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Serveur web</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">MsSQLAdmin</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>