@if (!string.IsNullOrWhiteSpace(ViewBag.Serveur)) {
    <p>
        <span>/ </span>
        @Html.ActionLink((string)ViewBag.Serveur, "Index", "Database", new { serveur = ViewBag.Serveur })<span> / </span>

        @if (!string.IsNullOrWhiteSpace(ViewBag.Database)) {
            @Html.ActionLink((string)ViewBag.Database, "Tables", "Database", new { serveur = ViewBag.Serveur, database = ViewBag.Database })

            @if (!string.IsNullOrWhiteSpace(ViewBag.Table)) {
                <span> / </span>
                @Html.ActionLink((string)ViewBag.Table, "Table", "Database", new { serveur = ViewBag.Serveur, database = ViewBag.Database, table = ViewBag.Table })
            }
        }
    </p>
}